node {

	shape : rounded-box;
	size-mode: fit;

	fill-mode: dyn-plain;
	size: 15px, 15px;
	stroke-mode: plain;
	fill-color: #222C;
	text-padding: 5px;
	text-color: white;
	padding: 6px;
	text-alignment: center;

}

edge {
	fill-mode: dyn-plain;
	shape: cubic-curve;
}

node:clicked {
	fill-color: #00ff0a;
}